@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        scroll-behavior: smooth;
    }
}

@font-face {
  font-family: 'MB';
  src: url('/fonts/Montserrat-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ML';
  src: url('/fonts/Montserrat-Light.otf') format('opentype');
}

@font-face {
  font-family: 'MR';
  src: url('/fonts/Montserrat-Regular.otf') format('opentype');
}

.bg-cover {
    background-size: cover;
    height: 150%;
    width: 100%;
}
/* index.css or a specific CSS file for the slider */
.slider-container {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  /* Add more styles as needed */
}
.slider-card{
  display: -webkit-box;
  width: 100%;
  overflow-x: scroll;

}
.buttonSelected{
      border-width: medium;
    border-color: black;
    background-color: whitesmoke;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.inputWrapper {
    margin: "20px 0";
    display: "flex";
    justifyContent: "space-between";
    width: "100%";
  }
.inputBox {
    flexGrow: 1;
    marginRight: 20;
  };
/* Default styles for sections */
section {
    overflow: hidden;
}

/* Animation styles */
section .animate {
    opacity: 0;
    filter: blur(5px);
    transition: 0.5s;
}

/* Show animation styles */
section.show-animate .animate {
    opacity: 1;
    filter: blur(0px);
    transition: 0.5s;
}

/* Specific section animations */
.sec6 .animate,
.sec3 .animate,
.sec5 .animate,
.sec2 .animate {
    transform: scale(0.7);
}

.sec6.show-animate .animate,
.sec3.show-animate .animate,
.sec5.show-animate .animate,
.sec2.show-animate .animate {
    transform: scale(1);
}

/* Additional animations */
.sec4 .animate {
    transform: rotate(30deg);
}

.sec4.show-animate .animate {
    transform: rotate(0deg);
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ul a li {
  /* color: #272727; */
  /* font-size: 20px; */
  /* text-decoration: none; */
  /* text-transform: uppercase; */
  padding: 5px 10px;
  margin: 0px 10px;
  position: relative;
  transition: all .5s
}

li:hover {
  background-color: rgb(20, 1, 203);
  color:white;
}

li:before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid rgb(20, 1, 203);
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.3s
}

li:hover:before {
  opacity: 1;
  bottom: -8px;
  left: -8px;
}

li:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid rgb(20, 1, 203);
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.3s;
}

li:hover:after {
  opacity: 1;
  top: -8px;
  right: -8px;
}


/* Flex column layout for small screens */
@media (max-width: 640px) {
  ul {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
  }
}