@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        scroll-behavior: smooth;
    }
}

@font-face {
  font-family: 'MB';
  src: url('/fonts/Montserrat-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ML';
  src: url('/fonts/Montserrat-Light.otf') format('opentype');
}

@font-face {
  font-family: 'MR';
  src: url('/fonts/Montserrat-Regular.otf') format('opentype');
}

.bg-cover {
    background-size: cover;
    height: 150%;
    width: 100%;
}
/* index.css or a specific CSS file for the slider */
.slider-container {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  /* Add more styles as needed */
}
.slider-card{
  display: -webkit-box;
  width: 100%;
  overflow-x: scroll;

}
.buttonSelected{
      border-width: medium;
    border-color: black;
    background-color: whitesmoke;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.inputWrapper {
    margin: "20px 0";
    display: "flex";
    justifyContent: "space-between";
    width: "100%";
  }
.inputBox {
    flexGrow: 1;
    marginRight: 20;
  };

section .animate{
  opacity: 0;
  filter: blur(5px);
  transition: 0.5s;
}

section.show-animate .animate{
  opacity: 1;
  filter: blur(0px);
  transition: 0.5s;
}
